pycache/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
wheels/
*.egg-info/
*.tar.gz
.whl
venv/
env/
/bin
/include
/lib
/lib64
/pyvenv.cfg
.venv/
.python-version
pip-log.txt
/htmlcov/
.tox/
.nox/
.pytest_cache/
.coverage
.coverage.
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db

.env

config.ini
